{% extends 'base.html.twig' %}

{% block title %}Cos de cumparaturi{% endblock %}

{% block body %}
<div class="container">
    <table class="table">
        {% if cartService.getCartCount > 0 %}
        <tr>
            <td>Nume produs</td>
            <td>Pret</td>
            <td>Cantitate</td>
            <td>TOTAL</td>
            <th></th>
        </tr>
        {% for cartItem in cart.cartItems %}
            <tr>
                <td>{{ cartItem.product.name }}</td>
                <td>{{ cartItem.product.price }} RON</td>
                <td>
                    <form action="{{ url('cart_update',{'product':cartItem.product.id}) }}" method="post">
                        <input type="number" min="1" max="100" name="quantity" value="{{ cartItem.quantity }}">
                        <button class="btn btn-success" type="submit">Update</button>
                    </form>
                </td>
                <td>
                    {% if cartService.getPromoCartItemTotal(cartItem) != cartService.getCartItemTotal(cartItem)  %}
                        <strike>{{ cartService.getCartItemTotal(cartItem)}} RON </strike>
                        <hr/>
                    {% endif %}
                    {{ cartService.getPromoCartItemTotal(cartItem) }} RON
                </td>
                <td><a class="btn btn-danger" href="{{ url('cart_delete',{'product':cartItem.product.id}) }}">X</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div>(-10%)</div>
                <hr/>
                {{ cartService.getPromoCartTotal() }} RON
            </td>
            <th></th>
        </tr>
    </table>
    <a class="btn btn-danger" href="{{ url('cart_empty') }}">Sterge cos</a>
    {% if app.user %}
        <a class="btn btn-primary float-right" href="{{ url('cart_order') }}">Finalizeaza comanda</a>
    {% else %}
        <a class="btn btn-primary float-right" href="{{ path('app_login') }}">Finalizeaza comanda</a>
    {% endif %}
    {% else %}
        <div>
            <span>Nu ai produse in cos</span>
        </div>
    {% endif %}
</div>
{% endblock %}
