{% extends 'base.html.twig' %}

{% block title %} Product{% endblock %}

{% block body %}
    <div class="container ">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 mt-5">
                    <h1>{{ product.name }}</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-5 border border-info">
                            {% for image in product.productImages %}
                                <a href="{{ url('product',{'product':product.id}) }}"><img class="card-img py-2" src="{{ asset('images/'~image.image) }}" alt="{{ product.name }}"></a>
                            {% endfor %}
                        </div>
                        <div class="col-4">
                            <div>
                                <span>
                                    Durata de livrare: 24-48h
                                </span>
                            </div>
                            <div class="mt-2">
                                Garantie comerciala: <strong>24 luni</strong>
                            </div>
                            <div class="mt-4" >
                                <h5>Disponibil online si in magazin</h5>
                            </div>
                            <div class="mt-4" >
                                <input type="button" value="39">
                                <input type="button" value="40">
                                <input type="button" value="41">
                                <input type="button" value="42">
                                <input type="button" value="43">
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div>
                                <h3>{{ product.price |number_format(2, '.', '.') }} Lei</h3>
                            </div>
                            <a href="{{ url('cart_add', {'product':product.id}) }}" class="btn btn-primary w-100 mt-4">Adauga in Cos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
